$orange: #f56d1e;
$orange-hover: #e46115;
$blue: #4bdfe4;
.landingOne {
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 0px;
  margin: 0px auto;
  height: 100vh;
  background: url(../../assets/backgrounds/mainBackground1.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 200;
}
.landingTwo {
  background: linear-gradient(#f4f2f1d7, #f4f2f1d7),
    url(../../assets/backgrounds/mainBackground.jpg);
  background-size: cover;
  background-position: top right;
  background-repeat: no-repeat;
  background-color: #f4f2f1;
  position: relative;
  padding: 0%;
  margin: 0%;
}

.landingThree {
  background: linear-gradient(#00000094, #000000d3),
    url(../../assets/backgrounds/mainBackground1.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.landingFour {
  background-color: #f4f2f1;
}

.landingFive {
  background-color: #000000c0;
  .lanFiveHeader {
    padding: 1rem;
    background-color: $orange;
    h1 {
      color: #fff;
      font-style: italic;
      font-size: 2.5rem;
      margin: 0rem;
    }
  }
}

.loading {
  margin: 0px auto;
  margin-top: 20rem;
  color: #f4f2f1;
  font-size: 5rem;
}
