.date {
  display: flex;
  flex-direction: column;
  text-align: left;
  h3 {
    margin: 0%;
  }
}

.selected {
  background-color: blue;
}

.singleSchedule {
  color: #4bdfe4;
}

label {
  font-weight: bold;
  font-size: 1.1rem;
  color: #e06027;
  text-align: left;
  display: flex;
  flex-direction: column;
}
