$orange: #f56d1e;
$blue: #4bdfe4;

.bounds {
  box-sizing: border-box;
  height: 1000px;
  max-width: 1000px;
  margin: 0% auto;
  padding-top: 4.5rem;
}

.container {
  box-sizing: border-box;
  border: 2px solid rgb(136, 136, 136);
  background-color: #000000ce;
  max-width: 1000px;
  height: 90%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  hr {
    width: 95%;
  }
}
.header {
  h1 {
    font-size: 2.5rem;
    margin: 0%;
    color: $orange;
  }
  h2 {
    color: $blue;
    margin: 0%;
  }
}
.body {
  padding: 0.6rem 0rem;
  height: 100%;
  display: flex;
}
.boxLeft {
  height: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
  height: 100%;
  h3 {
    color: #fff;
    text-align: left;
    margin: 0%;
  }
}
.webinarInfo {
  box-sizing: border-box;
  box-shadow: 3px 3px 5px rgba(228, 228, 228, 0.335);
  background-color: rgb(241, 241, 241);
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0% auto;
  padding: 0.5rem;
  h1 {
    margin: 0%;
  }
  h2 {
    margin: 0%;
  }

  p {
    margin: 0%;
    font-size: 1.2rem;
  }
}

.boxRight {
  display: flex;
  flex-direction: column;
  padding: 0rem 0.5rem;
  flex: 0.8;
  p {
    margin: 0%;
    margin-bottom: 12px;
    color: $blue;
    font-size: 1.2rem;
  }
}

.contactFooter {
  color: rgb(255, 255, 255);
}
.infoBox {
  background-color: #fff;
  padding: 0.4rem;
  border: 1px solid #000;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  p {
    font-weight: 400;
    margin: 0%;
  }
}
.infoTextContainer {
  display: flex;
  p {
    margin: 0%;
    font-size: 1.6rem;
    margin-right: 10px;
  }
  .label {
    font-weight: 300;
  }
  .info {
    font-weight: 600;
  }
}

.nextTitle {
  margin: 0%;
  color: $blue;
}

ol {
  margin: 0%;
  color: #fff;
  li {
    list-style: circle;
    text-align: left;
    line-height: 33px;
    font-size: 1.27rem;
  }
  ul {
    margin: 0%;
    list-style: square;
    color: $orange;
  }
}
@media only screen and (max-height: 825px) and (max-width: 1440px) {
  .bounds {
    padding-top: 0.7rem;
  }
  .container {
    height: 80%;
  }
  ol {
    li {
      font-size: 1.1rem;
    }
  }
}
@media only screen and (max-width: 500px) {
  .bounds {
    max-width: 320px;
    height: 1200px;
  }
  .container {
    margin-top: -20%;
    max-width: 320px;
    height: fit-content;
    padding: 0.5rem;
  }
  .header {
    max-width: 320px;
    h1 {
      font-size: 1.25rem;
    }
  }
  .body {
    flex-direction: column;
  }
  .boxLeft {
    flex: 0;
    display: flex;
    flex-direction: column;
    height: 100%;
    h3 {
      color: #fff;
      text-align: left;
      margin: 0%;
    }
  }
  .webinarInfo {
    max-width: 320px;
    h1 {
      margin: 0%;
      font-size: 1rem;
    }
    h2 {
      margin: 0%;
    }

    p {
      margin: 0%;
      font-size: 1rem;
    }
    hr {
      margin: 0% auto;
    }
  }
  .infoBox {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    p {
      font-weight: 400;
      margin: 0%;
    }
  }
  .infoTextContainer {
    display: flex;
    margin: 0%;
    hr {
      margin: 0% auto;
    }
    p {
      margin: 0%;
      font-size: 1rem;
      margin-right: 10px;
    }
    .label {
      font-size: 1rem;
      font-weight: 300;
    }
    .info {
      font-size: 1rem;
      font-weight: 600;
    }
  }
  .infoBox {
    h1 {
      color: #f56d1e;
    }
    h2 {
      margin: 0%;
      font-size: 1rem;
    }
    p {
      font-size: 0.75rem;
    }
  }
  .logo {
    width: 80%;
  }
  .boxRight {
    display: flex;
    flex-direction: column;
    padding: 0rem;
    flex: 0.8;
    p {
      flex: 1;
      margin: 5px 0px;
      font-size: 1.2rem;
    }
    hr {
      margin: 3px 0px;
    }
  }
  .nextTitle {
    margin: 0.5rem;
  }

  ol {
    margin: 0%;
    color: #fff;
    li {
      text-align: left;
      line-height: 25px;
      font-size: 1rem;
    }
    ul {
      margin: 0%;
      list-style: square;
      color: $orange;
    }
  }
}
