$orange: #f56d1e;
$orange-hover: #e46115;
$blue: #4bdfe4;

.landingContainer {
  box-sizing: border-box;
  padding: 4rem 2rem;
  max-width: 1000px;
  margin: 0rem auto;
}
.fiveHeader {
  font-size: 3rem;
  color: $blue;
  margin: 0%;
}
.fiveSubHeader {
  font-size: 2rem;
  font-weight: 400;
  margin: 0%;
  color: #fff;
  margin-bottom: 1rem;
}
@media only screen and (max-width: 500px) {
  .landingContainer {
    padding: 1rem;
    max-width: 320px;
    margin: 0rem auto;
  }
  .fiveHeader {
    font-size: 3rem;
    color: $blue;
    margin: 0%;
  }
  .fiveSubHeader {
    font-size: 2rem;
    font-weight: 400;
    margin: 0%;
    color: #fff;
    margin-bottom: 1rem;
  }
}
