.modal {
  background-color: #58585877;
  backdrop-filter: saturate(0.5) blur(10px);
  position: fixed;
  top: 0%;
  left: 0%;
  bottom: 0%;
  width: 100vw;
  height: 100vh;
  z-index: 2000;
  align-items: center;
  justify-content: center;
}

.formContainer {
  box-shadow: 6px 4px 10px black;
  border-radius: 5px;
  padding: 1rem;
  position: relative;
  background-color: #383838;
  width: 45%;
  height: fit-content;
  z-index: 440000;
  display: flex;
  flex-direction: column;
  h3 {
    color: rgb(255, 255, 255);
    margin: 0px;
    margin-top: 0.6rem;
  }
  .div {
    font-weight: bolder;
    color: black;
    background-color: #d3d3d3;
    text-align: center;
    position: absolute;
    right: -10px;
    top: -10px;
    border: 1px solid #275758;
    border-radius: 50%;
    font-size: 1.5rem;
    width: 30px;
    height: 30px;
    float: left;
  }
  .header {
    padding: 10px 0px;
    display: block;
    margin: 0px;
    h1 {
      color: #e06027;
      font-size: 2.5rem;
      margin: 0;
    }
    h2 {
      color: #4bdfe4;
      margin: 0px;
    }
  }
  span {
    margin: 0px;
    display: flex;
    justify-content: space-between;
    .scheduleContainer {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 45%;
      h1 {
        color: #fff;
        margin: 0;
      }
      h2 {
        margin: 0%;
        color: #e06027;
      }
    }

    form {
      padding: 1rem;
      font-family: sans-serif;
      font-weight: 600;
      display: flex;
      flex-direction: column;
      width: 45%;
      margin: 0px;
      label {
        color: #e06027;
        text-align: left;
        display: flex;
        flex-direction: column;
        margin-bottom: 1rem;
        input {
          box-shadow: 2px 2px 5px rgb(0, 0, 0);
          font-size: 1rem;
          border: none;
          border-radius: 5px;
          height: 2.5rem;
          margin: 0px;
        }
        .phoneInput {
          width: 100%;
          height: 2.7rem;
          font-size: 1rem;
        }
      }

      button {
        margin-top: 1rem;
        border: none;
        border-radius: 5px;
        font-family: sans-serif;
        font-weight: 800;
        color: #fff;
        font-size: 2rem;
        filter: saturate(0.8);
        background-color: #e06027;
        height: 3rem;
      }
    }
  }
}
.pickedDate {
  color: #4bdfe4;
}
.line {
  height: 30rem;
  border-right: 0.1px solid rgba(128, 128, 128, 0.685);
}
