.header {
  background-color: #f4f2f1;
  padding: 1.3rem 0px;
  div {
    margin: 0%auto;
    max-width: 1100px;
    // background-color: blue;
    h1 {
      font-size: 2rem;
      margin: 0%;
      display: flex;
      align-items: center;
      justify-content: center;
      font-weight: 200;
      h1 {
        font-weight: 400;
        margin: 0%;
        margin: 0px 0.6rem 0px 0.6rem;
      }
    }
  }
}
