$orange: #f56d1e;
$blue: #4bdfe4;
.landingContainer {
  min-width: 100px;
  max-width: 1000px;
  margin: 0% auto;
  padding: 0.6rem;
  .landingHeader {
    color: $orange;
    font-size: 3rem;
    margin-bottom: 0%;
  }
  .landingSubHeader {
    margin-top: 0%;
    margin-bottom: 1rem;
  }
}
.listBlock {
  border: 2px solid rgb(136, 136, 136);
  display: grid;
  grid-template-columns: 50% 50%;
  margin-bottom: 1rem;
  padding: 0.5rem;
  .listItem {
    display: flex;
    align-items: center;
    margin: 0.5rem;
    p {
      text-align: left;
      font-size: 1.4rem;
      font-weight: 600;
    }
    img {
      filter: invert(43%) sepia(15%) saturate(6194%) hue-rotate(351deg)
        brightness(96%) contrast(83%);
      margin-right: 0.5rem;
      width: 30px;
    }
  }
}
.buttonBox {
  margin: 0px auto;
  display: flex;
  align-items: center;
  justify-content: center;
  .or {
    font-size: 2rem;
    margin: 0px 0.6rem;
  }
  .registerButton {
    margin: 0;
    filter: saturate(0.8);
    background-color: $orange;
    width: 45%;
    height: 3.5rem;
    border: 1px solid #000;
    border-radius: 5px;
    font-size: 1.5rem;
    color: #ffffff;
    font-weight: 800;
  }
  button:hover {
    cursor: pointer;
    background-color: #c55526;
  }
}
