$orange: #e06024;
$blue: #4bdfe4;
.landingContainer {
  min-width: 100px;
  max-width: 1000px;
  margin: 0% auto;
  padding: 0.6rem;
  .landingHeader {
    color: $orange;
    font-size: 3rem;
    margin-bottom: 0%;
  }
  .landingSubHeader {
    margin-top: 0%;
  }
}
.listBlock {
  display: grid;
  grid-template-columns: 50% 50%;
  .listItem {
    display: flex;
    align-items: center;
    margin: 0.5rem;
    p {
      text-align: left;
      font-size: 1.4rem;
      font-weight: 600;
    }
    img {
      filter: invert(43%) sepia(15%) saturate(6194%) hue-rotate(351deg)
        brightness(96%) contrast(83%);
      margin-right: 0.5rem;
      width: 30px;
    }
  }
}
.buttonBox {
}
