$orange: #e06027;
$blue: #4bdfe4;

.landingOneContainer {
  display: flex;
  flex-direction: column;
  min-width: 100px;
  max-width: 1000px;
  height: 90%;
  max-height: 100%;
  margin: 0px auto;
  padding: 0rem 0.6rem;
  .webinarTitle {
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin: 0%;
    margin: 0.5rem 0px;
    font-size: 3.7rem;
    color: #fff;
  }
  h4 {
    font-size: 1.1rem;
    color: #fff;
  }
}

.linksToRegister {
  padding: 1rem;
  flex-grow: 1;
  border: 2px solid rgb(136, 136, 136);
  background-color: #000000c0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.linksToRegisterHeader {
  display: flex;
  justify-content: space-between;
  .line {
    border-left: 0.1px solid rgba(245, 245, 245, 0.513);
    width: 0px;
    margin: 0%;
  }
  div {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    .invited {
      filter: saturate(0.8);
      font-size: 2.75rem;
      text-align: left;
      color: #e06027;
      margin: 0px;
    }
    h2 {
      margin: 0%;
      text-align: left;
      font-weight: 400;
      color: rgb(245, 245, 245);
      display: flex;
      .online {
        color: rgb(245, 245, 245);
        text-decoration: underline;
        margin: 0px 5px;
        font-size: 1.5rem;
        letter-spacing: 0px;
        text-align: center;
      }
    }
    h3 {
      font-weight: 500;
      text-align: left;
      margin: 0px;
      font-size: 1.2rem;
      color: #4bdfe4;
    }
  }
  .logo {
    padding: 0.5rem;
    width: 45%;
  }
}

.linksToRegisterList {
  padding: 1rem 0rem;
  display: flex;
  flex-direction: column;
  .learn {
    color: #fff;
    letter-spacing: 1px;
    margin: 0px;
    font-size: 2rem;
  }
  div {
    margin: 0px auto;
    span {
      display: flex;
      align-items: center;
      margin-top: 1rem;
      h3 {
        font-weight: 600;
        margin: 0px;
        color: rgb(211, 211, 211);
        display: flex;
        align-items: center;
        font-size: 1.3rem;
        h6 {
          margin: 0px;
          margin-left: 5px;
        }
      }
      img {
        margin-right: 0.5rem;
        width: 30px;
        filter: invert(95%) sepia(8%) saturate(5755%) hue-rotate(146deg)
          brightness(96%) contrast(85%);
      }
    }
  }
}
.linksToRegisterButtons {
  padding: 1rem 0rem;
  .dontMiss {
    color: #fff;
    font-weight: 800;
    letter-spacing: 1px;
    font-size: 1.5rem;
  }
  .registerToday {
    margin-top: 0%;
    font-size: 1.75rem;
    color: #e06027;
    filter: saturate(0.8);
  }
  .buttonBox {
    margin: 0px auto;
    display: flex;
    align-items: center;
    justify-content: center;
    .or {
      color: #fff;
      font-size: 2rem;
      margin: 0px 0.6rem;
    }
    .registerButton {
      margin: 0;
      filter: saturate(0.8);
      background-color: #e06027;
      width: 45%;
      height: 3.5rem;
      border: 1px solid rgb(255, 191, 72);
      border-radius: 5px;
      font-size: 1.5rem;
      color: rgb(245, 245, 245);
      font-weight: 800;
    }
    button:hover {
      cursor: pointer;
      background-color: #c55526;
    }
  }
}
