.landingOneContainer {
  display: flex;
  flex-direction: column;
  min-width: 100px;
  max-width: 1000px;
  height: 90%;
  max-height: 100%;
  margin: 0px auto;
  padding: 0rem 0.6rem;
  h1 {
    text-transform: uppercase;
    letter-spacing: 3px;
    margin: 0%;
    margin: 2rem 0px;
    font-size: 3.7rem;
    color: #fff;
  }
  h4 {
    font-size: 1.1rem;
    color: #fff;
  }
}

.linksToRegister {
  padding: 1rem;
  flex-grow: 1;
  border: 2px solid rgb(136, 136, 136);
  background-color: #000000c0;
  display: flex;
  flex-direction: column;
}

.linksToRegisterHeader {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
  .line {
    border-left: 0.1px solid rgb(245, 245, 245);
    width: 0px;
  }
  div {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 60%;
    h1 {
      text-transform: none;
      font-size: 3rem;
      color: #e06027;
      text-align: left;
      margin: 0px;
    }
    h2 {
      font-weight: 400;
      color: rgb(245, 245, 245);
      display: flex;
      align-items: center;
      text-align: left;
      margin: 0px;
      h1 {
        color: rgb(245, 245, 245);
        text-decoration: underline;
        margin: 0px 5px;
        font-size: 1.5rem;
        letter-spacing: 0px;
      }
    }
    p {
      text-align: left;
      margin: 0px;
      font-size: 1.4rem;
      color: #4bdfe4;
    }
  }
  img {
    width: 35%;
    height: 200px;
  }
}

.linksToRegisterList {
  padding: 1rem;
  flex-grow: 0.7;
  display: flex;
  flex-direction: column;
  h1 {
    letter-spacing: 1px;
    margin: 0px;
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size: 1.5rem;
  }
  div {
    width: 85%;
    margin: 0px auto;
    span {
      display: flex;
      align-items: center;
      margin-bottom: 1.3rem;
      h3 {
        margin: 0;
        color: rgb(211, 211, 211);
        display: flex;
        align-items: center;
        h6 {
          margin: 0px;
          margin-left: 5px;
        }
      }
      img {
        margin-right: 1rem;
        width: 30px;
        filter: invert(95%) sepia(8%) saturate(5755%) hue-rotate(146deg)
          brightness(96%) contrast(85%);
      }
    }
  }
}
.linksToRegisterTag {
  h1 {
    font-size: 1rem;
    margin: 0px;
  }
  h2 {
    margin: 0px;
    color: #4bdfe4;
  }
}
.linksToRegisterButtons {
  flex-grow: 0.6;
  padding: 2rem 0rem 0rem 0rem;
  span {
    margin: 0px auto;
    display: flex;
    align-items: center;
    width: 70%;
    h1 {
      font-size: 1rem;
      margin: 0px 0.6rem;
    }
    button {
      background-color: #e06027;
      width: 50%;
      height: 3rem;
      border: 1px solid rgb(255, 191, 72);
      border-radius: 5px;
      font-size: 1.25rem;
      color: rgb(245, 245, 245);
      font-weight: 800;
    }
    button:hover {
      cursor: pointer;
      background-color: #bb4d1e;
    }
  }
}
