body {
  position: relative;
  margin: 0;
  font-family: Lato;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100vw;
  height: 300vh;
  box-sizing: border-box;
  overflow-x: hidden;
}
